{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<span id="topmost" style="display: none"></span>
<div class="container text-center">

        <h1>{{ .Title }}</h1>

        <h3>Latest stable release version: <b>{{ .Params.version }}</b></h3>
        
        <p>{{ .Params.translations }}</p>

        <p class="alert alert-danger"><b>{{ .Params.notice }}</b></p>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-center">
                <a href="https://gitlab.com/voxelands/voxelands/repository/archive.zip?ref=v{{ .Params.version }}" class="btn btn-success btn-lg">
                    <i class="fa fa-download fa-3x" aria-hidden="true"></i>
                    <br />
                    Source Code
                </a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <br style="clear: both"/>
        <h3>GNU/Linux Distribution Packages</h3>
        <br style="clear: both"/>
        <div class="row">
            <a href="{{ .Params.arch }}" class="btn btn-success">
                <i class="fl-archlinux fl-24" aria-hidden="true"></i>
                Arch Linux
            </a>
            <a href="{{ .Params.fedora }}" class="btn btn-success">
                <i class="fl-fedora-inverse fl-24" aria-hidden="true"></i>
                Fedora Linux
            </a>
            <a href="{{ .Params.slackware }}" class="btn btn-success">
                <i class="fl-slackware-inverse fl-24" aria-hidden="true"></i>
                Slackware
            </a>
            <a href="{{ .Params.chakra }}" class="btn btn-success">
                <i class="fl-archlinux fl-24" aria-hidden="true"></i>
                Chakra Linux
            </a>
        </div>
        <br style="clear: both"/>
        <p class="alert alert-info">If you have packaged, or are aware of packages for other distributions, please let us know via IRC or the forums.</p>
        <h3>Support the project!</h3>
        <p class="alert alert-info">{{ .Params.donation }}</p>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_a_id" value="BJZKRLT5YZGGU">
                    <a name="submit" class="btn btn-primary btn-lg" title="Pay via PayPal - The safer, easier way to pay online!"><i class="fa fa-paypal fa-3x" aria-hidden="true"></i>
                        <br />
                        Donate via PayPal
                    </a>
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <!--     <article class="article" itemscope itemtype="http://schema.org/Article">

        {{ if .Params.image }}
        <img src="{{ $.Site.BaseURL }}img/{{ .Params.image }}" class="article-banner" itemprop="image">
        {{end}}

        <h1 itemprop="name">{{ .Title }}</h1>

        <div class="article-style" itemprop="articleBody">
            {{ .Content }}
        </div>

</article> -->
</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
