        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
        <script src="{{ .Site.BaseURL }}js/jquery-1.12.3.min.js"></script>
        <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
        {{ range .Site.Params.custom_js }}
        <script src="{{ $.Site.BaseURL }}js/{{ . }}"></script>
        {{ end }}

        <!-- Code highlighting -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        <!-- LaTeX math rendering -->
        {{ if or (and (isset .Site.Params "math") (eq .Site.Params.math true)) (and (isset .Params "math") (eq .Params.math true)) }}
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
        </script>
        <script async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
        {{ end }}
    </body>
</html>
