<footer class="site-footer">
    <hr />
    <div class="container">
        <p class="powered-by">

            {{ with .Site.Copyright }}{{ . | markdownify}} &middot; {{ end }}

            Powered by the <a href="https://github.com/mavjs/HTMinimL" target="_blank">HTMinimL theme</a> for <a href="http://gohugo.io" target="_blank">Hugo</a>.

            <span class="pull-right"><a href="#" id="back_to_top"><span class="button_icon"><i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i></span></a></span>

        </p>
    </div>
</footer>
