{{ $baseUrl := .Site.BaseURL }}
<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar-main">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ $baseUrl }}"><b>{{ .Site.Title }}</b></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="#navbar-collapse-1">

            <!-- Left Nav Bar -->
            <ul class="nav navbar-nav navbar-right">
                {{ range .Site.Menus.main }}
                    {{ if eq "remote" .Identifier}}
                    <li class="nav-item"><a href="{{ .URL }}"><b>{{ .Name }}</b></a></li>
                    {{ else }}
                    <li class="nav-item"><a href="{{ $baseUrl }}{{ .URL }}"><b>{{ .Name }}</b></a></li>
                    {{ end }}
                {{ end }}
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
