{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<!-- Flag for jQuery -->
<span id="homepage" style="display: none"></span>

<!-- About Section -->
<section id="about" class="home-section">
        <div class="container">
        <h1>{{ .Site.Title }} <small>{{ .Site.Params.Subtitle }}</small></h1>
            {{ range where .Data.Pages "Type" "home" }}
			{{ if (not (or (eq .Title "contact") (eq .Title "carousel") ) ) }}
                <div class="col-sm-4">
                    <h3 class="text-center">{{ .Title }}</h3>
                    {{ .Content }}
                </div>
            {{ end }}
            {{ end }}
            <div>
                <p>
            </div>
        </div>
</section>

<section id="contact" class="home-section">
    <div class="container text-center">
        {{ range where .Data.Pages "Type" "home" }}
        {{ if eq .Title "contact" }}
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <h3>{{ .Params.header }}</h3>
            {{ .Content }}
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>

<section id="pic" class="home-section">
    <div class="container">
        {{ range where .Data.Pages "Type" "home" }}
        {{ if eq .Title "carousel" }}
        {{ range .Params.carousel }}
        <div class="col-sm-4">
            <h3>{{ .caption }}</h3>
            <img src="{{ .Site.BaseURL }}img/{{ .pic }}"></img>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</section>

<!-- Page Footer -->
{{ partial "footer_container.html" . }}

{{ partial "footer.html" . }}
