{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<span id="topmost" style="display: none"></span>
<div class="container">

    <article class="article" itemscope itemtype="http://schema.org/Article">

        {{ if .Params.image }}
        <img src="{{ .Site.BaseURL }}img/{{ .Params.image }}" class="article-banner" itemprop="image">
        {{end}}

        <h1 itemprop="name">{{ .Title }}</h1>

        <div class="article-style" itemprop="articleBody">
            {{ .Content }}
        </div>

    </article>
</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
