/*
  Icon Font: font-linux
*/

@font-face {
  font-family: "font-linux";
  src: url("../fonts/font-linux.eot");
  src: url("../fonts/font-linux.eot?#iefix") format("embedded-opentype"),
       url("../fonts/font-linux.woff") format("woff"),
       url("../fonts/font-linux.ttf") format("truetype"),
       url("../fonts/font-linux.svg#font-linux") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "font-linux";
    src: url("../fonts/font-linux.svg#font-linux") format("svg");
  }
}

.fl {
}



.fl-12 { font-size: 12px; }

.fl-14 { font-size: 14px; }

.fl-16 { font-size: 16px; }

.fl-18 { font-size: 18px; }

.fl-21 { font-size: 21px; }

.fl-24 { font-size: 24px; }

.fl-36 { font-size: 36px; }

.fl-48 { font-size: 48px; }

.fl-60 { font-size: 60px; }

.fl-72 { font-size: 72px; }


[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fl-aosc:before,
.fl-archlinux:before,
.fl-centos:before,
.fl-coreos:before,
.fl-debian:before,
.fl-elementary:before,
.fl-fedora:before,
.fl-fedora-inverse:before,
.fl-freebsd:before,
.fl-gentoo:before,
.fl-linuxmint:before,
.fl-linuxmint-inverse:before,
.fl-mageia:before,
.fl-mandriva:before,
.fl-nixos:before,
.fl-opensuse:before,
.fl-raspberry-pi:before,
.fl-redhat:before,
.fl-sabayon:before,
.fl-slackware:before,
.fl-slackware-inverse:before,
.fl-tux:before,
.fl-ubuntu:before,
.fl-ubuntu-inverse:before {
  display: inline-block;
  font-family: "font-linux";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fl-aosc:before { content: "\f116"; }
.fl-archlinux:before { content: "\f100"; }
.fl-centos:before { content: "\f101"; }
.fl-coreos:before { content: "\f110"; }
.fl-debian:before { content: "\f102"; }
.fl-elementary:before { content: "\f113"; }
.fl-fedora:before { content: "\f103"; }
.fl-fedora-inverse:before { content: "\f114"; }
.fl-freebsd:before { content: "\f10f"; }
.fl-gentoo:before { content: "\f111"; }
.fl-linuxmint:before { content: "\f105"; }
.fl-linuxmint-inverse:before { content: "\f106"; }
.fl-mageia:before { content: "\f107"; }
.fl-mandriva:before { content: "\f108"; }
.fl-nixos:before { content: "\f117"; }
.fl-opensuse:before { content: "\f109"; }
.fl-raspberry-pi:before { content: "\f11a"; }
.fl-redhat:before { content: "\f10a"; }
.fl-sabayon:before { content: "\f115"; }
.fl-slackware:before { content: "\f10b"; }
.fl-slackware-inverse:before { content: "\f10c"; }
.fl-tux:before { content: "\f118"; }
.fl-ubuntu:before { content: "\f10d"; }
.fl-ubuntu-inverse:before { content: "\f10e"; }
